sudo: false

language: python

python:
  - 3.6

env:
  global:
    - REPO=$(basename $TRAVIS_REPO_SLUG)
    - MINICONDA=$HOME/miniconda

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $MINICONDA
  - export PATH="$MINICONDA/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - sed -i "/python/c\  - python=${TRAVIS_PYTHON_VERSION}" environment.yml
  - echo "  - nomkl" >> environment.yml
  - cat conda_environment.yml
  - conda env create -f environment.yml
  - source activate $REPO

install:
  - pip install -e .

script:
  - pytest

after_success:
  - codecov
