language: python

python:
  - 3.6

env:
  global: AGAPEDATA=$HOME/cache

cache:
  pip: true
  directories: $AGAPEDATA

before_install:
  - bash required_data.sh  # Download data
  - pip install codecov
  # Temporary fix while PyPI version of GOATOOLS GAF reader fails
  - pip install git+https://github.com/tanghaibao/goatools

install: pip install -e ".[cpu]" && pip install -e ".[test]"

script: pytest

after_success: codecov
